<div class="page-header">
  <h1>
    Funds
    <a href="/funds/new" class="btn btn-lg btn-success">New Fund</a>
  </h1>
</div>

<table id="funds">
  <thead>
    <tr>
      <th>Name</th>
      <th>Active Share</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @funds.each do |fund| %>
    <tr>
      <td><%= fund.name %></td>
      <td><%= fund.score %></td>
      <td><a href="/funds/<%= fund.id %>" class="btn btn-primary">Details</a></td>
    </tr>
  <% end %>
  </tbody>
</table>
